* {
  font-family: Arial, sans-serif;
}

.flex-container {
 padding: 0;
  margin: 0;
  list-style: none;
  height: 30em;
  display: flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
}

.flex-container > header { 
  flex: 1 100%; 
}

.flex-item {
  background: #4DD7FA;
  margin: 9px;
  padding: 10px;
  width: 100px;
  border: 2px solid black;
}

/* HEADER */


.header {
  background: #FFB4B0;
  height: 10%;
  padding: 6;  
}

/*nav {
  width: 64%;
  background-color: #FFB4B0;
  height: 60px;
  padding-top: 8px;
  border: 2px solid black;
  text-align: left;
} */

nav ul li {
  display: inline-block;
  margin: 0 5px;
} 


/* FORM AREA */


.form {
  flex-grow: 1;
  margin-top: 0;
}


.song-length {
  margin-top: 12px;
  margin-bottom: 20px;
}

.artist {
  padding-bottom: 20px;
}

.album {
  padding-top: 5px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.genre-div {
  margin-bottom: 10px;
}

.checkbox {
  padding-bottom: 6px;
  float: left;
  width: 50%;
}

.button-div {
  width: 50%;
  margin: 0 auto 0 auto;
}

.filter-button {
  width: 8em;
  height: 4em;

}


/* MAIN CONTENT AREA */

.primary {
  flex-grow: 4;
  background-color: #FEFAC0;
  margin-top: 0;
}

.primary :nth-child(2n) {
  background-color: #FFF5EE;
  margin: 10px;
}

.primary :nth-child(2n + 1) {
  background-color: #F5FFFA;
  margin: 10px;
}

.primary :first-child {
  font-weight: bolder;
}

body {
  margin-top: 35px;
  margin-left: 200px;
  margin-right: 200px; 
}

/* #main {
  width: 38.75%;
  border: 2px solid black;
  background-color: #FEFAC0;
  margin-top: 3px;
  margin-left: 20px;
  float: left;
  padding-left: 35px;
} */


#main ul li {
  background-color: #FFF5EE;
  display: inline-block;
  margin: 0 5px;
  padding-bottom: 10px;
}


#main h3 {
  color: #785616;
}

 
 